/* COLOR PALETTE */

$transit-blue: #58b7ff;
$opacity-blue: rgba(88,183,255,0.1);
$transit-blue2x: #4692cc;
$transit-blue5x: #2c5b7f;

$off-white: #eee;
$opacity-white: rgba(238,238,238,.6);

$light-grey: #ccc;
$solid-grey: #777;
$solid-grey2x: #555; /* 2 shades darker */

.about-wrapper {
  display: flex;
  flex-flow: column;
  padding: 0;
  align-items: center;
  color: $solid-grey2x;
}

h1 {
  align-self: auto;
}

h4 {
  width: 65%;
}


/* ATTEMPTING TO MINIMIZE SPACE BETWEEN PAGE CONTAINER - SOLUTION DOES NOT WORK */
@media all and (max-width: 600px) {
  .page-container {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    flex-shrink: 1;
  }

}
